@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.page{
	background: linear-gradient(120deg,#3498db, #1abc9c);
	height: 110vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.dummy{
	top: 0px;
	height: 42px;
	width: 100%;
	color: #ffffff;
	text-align: center;
	background: #2c3e50;
}

.topbar{
	top: 0px;
	overflow: hidden;
	height: 42px;
	z-index: 10000;
   	position: fixed;
	width: 100%;
	background: #2c3e50;
}

.topbar h1{
	float: left;
	color: #ffffff;
	text-align: center;
}

.topbar a{
	float: right;
}

.topbar a img{
    width: 42px;
    height: 42px;
}


.content{
	position: absolute;
	padding: 10px;
	width: 75%;
	height: 95%;
	background: #ffffff;
	overflow:hidden;
	border-radius: 10px;
	background-clip:padding-box;
	box-shadow: 15px 15px 25px rgba(0,0,0,0.25);	
}

.bold {
	font-weight: bolder;
}

.s1 {
	border-radius: 5px;
	float: right;
	width: 60%;
	aspect-ratio: auto 1045 / 645;
}

.bp {
	border-radius: 5px;
	float: left;
	width: 50%;
	aspect-ratio: auto 1159 / 974;
}

.fc {
	border-radius: 5px;
	float: right;
	width: 50%;
	aspect-ratio: auto 300 / 168;
}

.legal {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	background: #2c3e50;
}

.L1 {
	grid-area: 1 / 2 / 2 / 3;
	color: #ffffff;
	text-align: center;
}

.L2 {
	grid-area: 1 / 3 / 2 / 4;
}

.L3 {
	grid-area: 1 / 4 / 2 / 5;
}

 .slnk{
	 color: #ffffff;
 }
