@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.page{
	background: linear-gradient(120deg,#3498db, #1abc9c);
	height: 100vh;
	overflow: hidden;
}

.topbar{
	background: #2c3e50;
	position: relative;
	text-align: center;
	color: #ffffff;	
}

.content{
	position: relative;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 400px;
	background: #ffffff;
	overflow:hidden;
	border-radius: 10px;
	background-clip:padding-box;
	box-shadow: 15px 15px 25px rgba(0,0,0,0.25);	
}
