body {
	background: #2c3e50;
}

.page{
        position: relative;
	background: linear-gradient(120deg,#3498db, #1abc9c);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	overflow: hidden;
}

.content{
	position: relative;
	padding: 10px;
	width: 75%;
	height: 1;
	background: #ffffff;
	overflow:hidden;
	border-radius: 10px;
	background-clip:padding-box;
	box-shadow: 15px 15px 25px rgba(0,0,0,0.25);	
}
